subreddit: GuessTheSubreddit

toggles:
    # Whether the bot make a post when it starts up.
    post_on_start: true

    # Should the posts be checked when the bot starts.
    # The bot checks for posts to close every 5 minutes regardless.
    check_posts_on_start: false

# How long a post should be open for until guessing is stopped. (in minutes)
post_expiry_time: 360

# The flair settings.
flairs:
    post:
        standard: c1547c0c-4049-11ea-bce8-0e3a3e501ba9
        multi: cf9cf898-4049-11ea-9cd2-0e3247f312c5
        fillblank: 63ee0c44-49fa-11ea-a5e2-0e9b2137d67d
        jumbled: 43da7fd4-bfb9-11ea-8ba0-0ee5376e3101
    user:
        score:
            id: b76716ce-4048-11ea-804a-0e638e9bf59b
            text: "△{}"

# Settings for each post type.
types:
    standard:
        points_awarded: 3
        type_text: ""
    fillblank:
        points_awarded: 2
        type_text: |-
            *Fill in the Blank*

            {}
    jumbled:
        points_awarded: 2
        type_text: |-
            *Unscramble the Letters*

            {}
    multi:
        points_awarded: 1
        type_text: |-
            *Possible Subreddits:*

            * r/{}
            * r/{}
            * r/{}
            * r/{}

        # When a subreddit that is in this list is selected, there is a chance that the other subreddit will be shown with it.
        groupings:
            -
                - aww
                - dog_pictures
            -
                - example1
                - example2
            -
                - example3
                - example4

# General Templates
templates:
    comments:
        post:
            main: |-
                {header}

                Please note that only top-level comments will be checked by the bot.

                [](#closure_info){closure_info}[](#closure_info_end)
                [](#type_text){type_text}[](#type_text_end)

                [Click here to learn more about this subreddit.](https://reddit.com/r/guessthesubreddit/wiki/index)
            headers:
                default: "**Guessing is still open for this post. Please go ahead and have a go.**"
                complete: "**~~Guessing is still open for this post.~~**"
            closure_info:
                default: This post closes on {closing_time} UTC ^(D/M/Y)
                complete: |-
                    The post came from the subreddit >!r/{subreddit}!<

                    [You can find the post (made by u/{author}) here.]({permalink})
        reply:
            correct: "**Result:** >!CORRECT - Your score has been increased. (+{points} points)!<"
            incorrect: "**Result:** >!INCORRECT - The correct subreddit was /r/{correct_subreddit}!<"
            not_allowed: "**Result:** !>You've already guessed correctly on this post.!<"
    sidebars:
        widget: "{leaderboard}"
        sidebar: |-
            # Rules

            1. Remain civilised.

            2. Don't ruin it by cheating.

            3. Please report broken posts.

            # How does this subreddit work?

            1. A post is made by the bot every 30 minutes.

            3. The post is left open for 6 hours to allow people to try and guess what subreddit that post has come from..

            4. After 6 hours, the post will be locked and points will be awarded to the users who guessed correctly.

            We currently suggest that you sort by new when looking for posts.

            [You can learn more about how it works on our wiki.](https://www.reddit.com/r/guessthesubreddit/wiki/index)

            # Where can I suggest ideas?

            You can leave a comment on any mod/meta thread, send a modmail to this subreddit or [join the Discord.](https://discord.gg/RCtd7qx)

            # Who made the bot? Can I contribute?

            The bot was made by myself (u/OneUpPotato).

            [You can help contribute to the bot, or just have a look at the code, on GitHub.](https://github.com/OneUpPotato/GuessTheSubreddit)

            # Points Leaderboard

            {leaderboard}
