{
    # This is an example file for 'subreddits.yml'.
    # The full subreddit list used on r/GuessTheSubreddit is currently hidden to prevent it being abused.
    "subreddits": [
        # Category 1
        "subreddit1",
        "subreddit2",
        "subreddit3",

        # Category 2
        "subreddit4",
        "subreddit5",
        "subreddit6",
    ],
}
